* {
  
    margin: 0px;
    font-family: 'inter';
}

#logo{
   margin-left: 50px;
   margin-top: 50px;
}

#título-menusuperior {
   margin-left: 150px;
   margin-top: 50px;
}

#texto-menusuperior {
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior {
    background-image: url(imagens/fundo-menusuperior.svg);
    color: rgb(252, 250, 248);
}

#menuinformacional {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
.ícone {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto
}

.textoinformativo {
    display: flex;
    align-items: center;
}

#titulovideo {
    color:  #247BA0;
    margin-top: 50px;
}


#video {
    margin: 50px 25px 50px 100px;
}

#carrosel {
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrossel {
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

#div-cards {
    display: grid;
    grid-auto-flow: column;
}

.card {
    margin-left: 50px;
}

#seta-esquerda {
    display: none;
}

#bruna {
    display: none;
}

.seta {
    margin-top: 15%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario {
    text-align: center;
}

#titulo-formulario {
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input {
Width: 250px;
Height: 40px;
background-color: #EAECE5;
margin: 15px;
border: 0px;
border-radius: 5%;
padding-left: 10px;
}


button {
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #1d8bb9;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0b35c08e;
    transition-duration: 0.5s;
}  